# Python Crash Course

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2 #for py2 let one of the numbers be float

0.5

In [6]:
2**4

16

In [7]:
2+3*5+5 #python follows bodmas too

22

In [8]:
(2+3) * (5+5)

50

In [9]:
4 %2     # % is the module function that retuns the remainder(what remains after a division)

0

In [10]:
5 %2

1

# Varriable Assignment

variable names should not start with numbers,special symbols or characters

In [11]:
var = 2

In [12]:
var

2

In [13]:
x =2 
y =3

In [14]:
x + y

5

In [15]:
x = x+x

In [16]:
x

4

In [17]:
x = x+x

In [18]:
x

8

# Strings

In [19]:
'this is a string'

'this is a string'

In [20]:
"i can't go"

"i can't go"

In [21]:
x = 'hello'

In [22]:
x

'hello'

In [23]:
print (x)

hello

In [24]:
num = 12
name = 'sam'

In [25]:
print('My number is {} and my name is {}'.format(num,name))   #

My number is 12 and my name is sam

In [26]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is sam

In [27]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is sam, more 12

indexing strings

In [28]:
s = 'abcdefghijk'

In [29]:
s[0]

'a'

In [30]:
s[0:]

'abcdefghijk'

In [31]:
s[:3]

'abc'

In [32]:
s[0:3]

'abc'

In [33]:
s[3:6]

'def'

# List

list are a sequence of element in a set of square bracket seperated by commas

In [34]:
[1,2,3]

[1, 2, 3]

In [35]:
 ['a','b','c']

['a', 'b', 'c']

In [36]:
my_list = ['a','b','c']

In [37]:
 my_list.append('d')

In [38]:
my_list

['a', 'b', 'c', 'd']

In [39]:
my_list[2]

'c'

In [40]:
my_list[1:3]

['b', 'c']

In [41]:
my_list[0] = 'new'

In [42]:
my_list

['new', 'b', 'c', 'd']

In [43]:
new_list = [1,2,[3,4]]    # there can be a list inside a list

In [44]:
new_list

[1, 2, [3, 4]]

In [45]:
new_list[2][1]

4

In [46]:
new_list_2 = [1,2,3,[4,5,['target']]]

In [47]:
new_list_2[3][2][0]

'target'

In [48]:
print(new_list_2[3][2][0])

target

# Dictionary

In [49]:
d = {'key1':'vaiue','key2':123}

In [50]:
d['key1']

'vaiue'

In [51]:
d['key2']

123

In [52]:
 d = {'k1':[1,2,3]}

In [53]:
d['k1']

[1, 2, 3]

In [54]:
d['k1'][1]

2

In [55]:
d = {'k1':{'innerkey':[1,2,3]}}

In [56]:
d['k1']

{'innerkey': [1, 2, 3]}

In [57]:
d['k1']['innerkey'][1]

2

# Tuple

A tuple is similar to a list, it uses parentesis () instead of a square bracket.
You can also grab items from the tuple as if it was a list using square bracket []
You can reassign a value in a list but you can't do that in a tupple

In [58]:
my_list = [1,2,3]

In [59]:
my_list[0]

1

In [60]:
my_list[0]='new'

In [61]:
my_list

['new', 2, 3]

In [62]:
t = (1,2,3)

In [63]:
t[0]

1

In [64]:
t[0]='new'  #you can't change the items inside a tuple

TypeError: 'tuple' object does not support item assignment

# Set

Set is a colection of unique elements

In [65]:
{1,2,3}

{1, 2, 3}

In [66]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [67]:
set([1,1,1,1,2,2,2,2,5,5,5,6,6,7,7,8,8])

{1, 2, 5, 6, 7, 8}

In [68]:
s = {1,2,3}

In [69]:
s.add(5)

In [70]:
s

{1, 2, 3, 5}

# Comparison Operator

Comparison Operator allow you to compare 2 element to each other using things like >,<,=

In [71]:
1 > 2

False

In [72]:
1 < 2

True

In [73]:
1 >= 2

False

In [74]:
1 <= 1

True

In [75]:
1 == 1 #check for equality

True

In [76]:
1 ==2

False

In [77]:
1 =1

SyntaxError: can't assign to literal (<ipython-input-77-17d49a8d5beb>, line 1)

In [78]:
1 != 3

True

In [79]:
'hi' == 'bye'

False

In [80]:
1 < 2 and 2 > 3 #all condition must be true

False

In [81]:
1 < 2 or 2 > 3  # only one has to be true

True

In [82]:
(1 < 2) or (2 >3) or (1 == 1)

True

# if , elif and else statement

when you want to execute code if a conition is true, you can use the if, elif and else statement

In [83]:
if 1<2:
    print('yes')

yes

In [84]:
if True:
    x = 2+2

In [87]:
x

4

In [86]:
if 1 == 2:
    print('yes')
else:
    print('no')

no

In [88]:
if 1 != 2:
    print('yes')
else:
    print('no')

yes

In [89]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [90]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second

# For and While Loops

for loops allow you to iterate( repeat a process) through a sequence

In [91]:
seq = [1,2,3,4,5]

In [92]:
for item in seq:
    print (item)

1
2
3
4
5

In [93]:
for item in seq:
    print ('hello')

hello
hello
hello
hello
hello

In [94]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

for x in range(0,5):
    print (x)

In [98]:
list(range(0,5))

[0, 1, 2, 3, 4]

List comprehension allows you to save a bunch of writting when you are trying to create a for loop to create a list

In [102]:
x = [1,2,3,4]

In [103]:
out = []

for num in x:
    out.append(num**2)

In [104]:
print(out)

[1, 4, 9, 16]

In [105]:
[num**2 for num in x]

[1, 4, 9, 16]

In [106]:
out = [num**2 for num in x]

In [107]:
out

[1, 4, 9, 16]

# Functions

functions allow you to basically not have to continually not write code over and over again

In [109]:
def my_func(param1):
    print(param1)

In [110]:
my_func('hello')

hello

In [113]:
def my_func(name):
    print('hello ' +name)

In [114]:
my_func('joseph')

hello joseph

In [115]:
def my_func(name='Default Name'):
    print('hello ' +name)

In [116]:
my_func()

hello Default Name

In [117]:
def square(num):
    return num**2

In [118]:
output = square(2)

In [119]:
output

4

In [121]:
def times2(var):
    return var*2

In [122]:
times2(5)

10

In [123]:
#map function

In [124]:
seq = [1,2,3,4,5]

In [125]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [127]:
t = lambda var:var*2

In [128]:
t(6)

12

In [130]:
seq = [2,6,9,1]

In [131]:
list(map(lambda num: num*3,seq))

[6, 18, 27, 3]

In [132]:
#filter

In [133]:
list(filter(lambda num: num%2 == 0,seq))

[2, 6]

In [134]:
#methods

In [135]:
s = 'Hello my name is Sam'

In [136]:
s.lower()

'hello my name is sam'

In [137]:
s.upper()

'HELLO MY NAME IS SAM'

In [138]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [143]:
tweet = 'Go Sport! #Sport'

In [144]:
tweet.split()

['Go', 'Sport!', '#Sport']

In [145]:
tweet.split('#')

['Go Sport! ', 'Sport']

In [146]:
tweet.split('#')[1]

'Sport'

In [147]:
dic = {'k1': 1, 'k2':2}

In [148]:
dic

{'k1': 1, 'k2': 2}

In [149]:
 dic.keys()

dict_keys(['k1', 'k2'])

In [150]:
dic.items()

dict_items([('k1', 1), ('k2', 2)])

In [152]:
dic.values()

dict_values([1, 2])

In [155]:
lst = [1,8,3]

In [156]:
lst.pop()

3

In [157]:
lst

[1, 8]

In [158]:
lst = [1,2,3,4,5]

In [159]:
item = lst.pop()

In [160]:
lst

[1, 2, 3, 4]

In [161]:
item

5

In [162]:
first = lst.pop(0)

In [163]:
lst

[2, 3, 4]

In [164]:
first

1

In [165]:
's' in lst

False

In [166]:
3 in lst

True

In [167]:
x = [(1,2),(3,4),(5,6)]

In [168]:
x[0]

(1, 2)

In [169]:
x[0][1]

2